body {
    box-shadow: inset 0px 0px 100px black;
    background-color:#111111;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    
}

h1 {
    margin: 50px;
    color: #c82f43;
    font-size: 220%;
    text-align: center;
}

p {
    color: white;
    font-size: 130%;
    margin-left: 150px;
    margin-right: 150px;
}