body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 50px;
}

h1 {
    color: hotpink;
    font-size: 220%;
    text-align: center;
}

p {
    color: white;
    font-size: 130%;
}