html {
    font-size: 100%;
    font-family: 'Manrope', Tahoma, Verdana, sans-serif;
}

body {
    background-color:#111111;
    max-width: 500px;
    font-size: 100%;
    margin: 50px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    transition: width 500ms ease-in-out 0ms;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    width: 150%;
  }

h1 {
    color: #c82f43;
    text-align: left;
    font-size: 2.2rem;
}

p {
    color: white;
    padding-left: 25px;   
}

.module-border-wrap {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 0px;
    position: relative;
    background: linear-gradient(to right, #f04742, #c82e42, #811b39); 
}

.box {
    color: white;
    background-color: black;
    padding: 3px;
}

#second-box-border {
    padding-bottom: 3px;
    margin-bottom: 50px;   
}

a {
    text-decoration: none;
    font-style: italic;
    color: #e75e5a;
}

a:hover {
    color: #c82e42;
}